@font-face {
    font-family: companyfont;
    src: url(./companyfont.otf);
    
  }

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.company-text{
    color: white;
    background-color:#3d97c0 ;
    padding: 1% 0%;
    padding-left: 3vw;
    font-size: 5vw;
    font-family: companyfont;
}



.navbar{
    background-color:#333333;
    display: flex;
    padding: 3px;
   padding-left: 1.1vw;
   
}

.navbar  a{
    color: white;
    padding-left: 3vw;
    text-decoration: none;
    font-weight: bold;
    
}

.navbar img{
    
    margin-left: auto;
    padding-right: 2%;
    order: 2;
} 

.news{
    margin: 4vw;
    margin-top: 2vw;
    border: 1px solid rgb(179, 171, 171);
    
   
    margin-right: 30%;
    padding: 0% 1%;
    
}

.news h3{
    margin-top: 4px;
    
    font-weight: 600;
    
}

.news li{
    font-weight: 200px;
    text-decoration: none;
    font-size: 90%;
    padding-bottom: 2%;
    
    list-style-type:'-   ';
}


.lower-body-text h3{
    font-weight: 600;
}

.lower-body-text{
    margin: 4%;
    margin-top: 2%;
    margin-right: 10%;
    
}

@media screen and (max-width:1080px) {

  
    
    .company-text {font-size: 8vw;}
}

@media screen and (max-width:720px) {
    
    .company-text {font-size: 10vw;}
    
}

@media screen and (max-width:480px) {
    
    .company-text {font-size: 10vw;}
    
}
